.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
	padding:0;
}
.bottom_line{
	border-bottom: 1px solid #c6c6c6;
}
.odd>div:nth-child(odd){
	background:#ccc;
	
}
.even>div:nth-child(even){
	background:#ccc;
	
}
.odd>div,.even>div{
	height:100%;
	overflow-y:auto;
}
.btn{
	white-space: normal;
}
textarea{
	width:90%;
	height:90%;
}
