<div 
	class="col-xs-12  bottom_line"
	style="height:50px;"
>
	搜尋條件
	
	<button
	ng-click="$ctrl.whereList.splice($index,1)"
	class="btn btn-primary btn-sm"
	ng-repeat="item in $ctrl.whereList"
	>
	{{$ctrl.data.field[fieldNameR[item.field]].name}}
	{{where_list_type_arr[item.type]}}
	{{$ctrl.data.field[fieldNameR[item.field]].list[item.value].name || item.value}}
	</button>
	<button
	sortable="$ctrl.orderList"
	index="$index"
	draggable="true"
	ng-click="$ctrl.orderList.splice($index,1)"
	class="btn btn-primary btn-sm"
	ng-repeat="item in $ctrl.orderList"
	>
	{{$ctrl.data.field[fieldNameR[item.field]].name}}
	{{order_list_type_arr[item.type]}}
	</button>

</div>
<div 
	class="col-xs-12  bottom_line"
	style="height:50px;"
>
	<select 
	ng-options="item.enName as item.name for (index,item) in $ctrl.data.field"
	ng-model="$ctrl.data.default.where.field"
	></select>
	<select 
	ng-options="index as item for (index,item) in where_list_type_arr"
	ng-model="$ctrl.data.default.where.type"
	></select>
	<div style="display:inline-block;">
		<div ng-if="$ctrl.data.field[fieldNameR[$ctrl.data.default.where.field]].list">
			<select 
			ng-options="item.id as item.name for item in $ctrl.data.field[fieldNameR[$ctrl.data.default.where.field]].list"
			ng-model="$ctrl.data.default.where.value"
			></select>
		</div>
		<div ng-if="!$ctrl.data.field[fieldNameR[$ctrl.data.default.where.field]].list">
			<input type="text"
			ng-model="$ctrl.data.default.where.value"
			ng-enter="add_where_list($ctrl.data.default.where);$ctrl.data.default.where.value=''"
			/>
		</div>
	</div>
	<button 
	class="btn btn-sm btn-primary"
	ng-click="add_where_list($ctrl.data.default.where);$ctrl.data.default.where.value=''"
	>加入搜尋條件</button>

	<select 
	ng-options="item as $ctrl.data.field[fieldNameR[item]].name for (index,item) in $ctrl.data.order"
	ng-model="$ctrl.data.default.order.field"
	></select>
	<select 
	ng-options="index as item for (index,item) in order_list_type_arr"
	ng-model="$ctrl.data.default.order.type"
	></select>
	<button 
	class="btn btn-sm btn-primary"
	ng-click="add_order_list($ctrl.data.default.order);$ctrl.data.default.order.value=''"
	>加入排序條件</button>
</div>
