<div class="col-xs-12"  >
{{message}}
</div>
<div class="col-xs-12"  >
	<pagnation
	data="$ctrl.cache.limit"
	callback="page_get"
	></pagnation>
</div>
<div class="col-xs-12 bottom_line">
	<input 
	type="text"
	placeholder="請輸入ip"
	ng-model="$ctrl.cache.insert.ip"
	/>
	<button
	ng-class="$ctrl.cache.insert.status==$index?'btn-danger':'btn-primary'"
	ng-click="$ctrl.cache.insert.status==$index?$ctrl.cache.insert.status=undefined:$ctrl.cache.insert.status=$index"
	class="btn btn-sm "
	ng-repeat="status in status_arr"
	>{{status}}</button>
	<button
	ng-click="add($ctrl.cache.insert)"
	class="btn btn-sm btn-primary"
	>新增ip</button>
</div>
<div 
class="col-xs-12 row" 
>
	<div class="col-xs-1" >IP</div>
	<div class="col-xs-1" >持續時間</div>
	<div class="col-xs-1" >最後活動</div>
	<div class="col-xs-1" >狀態</div>

</div>
<div 
class="col-xs-12 row" 
style="height:50px"
ng-repeat="item in list"
>
	<div class="col-xs-1" >
		{{item.ip}}
	</div>
	<div class="col-xs-1" >
		{{item.keep_time_int<0?'永久':item.keep_time_int*1000|date:'yyyy-MM-dd HH:mm:ss '}}
	</div>
	<div class="col-xs-1" >
		{{item.last_time_int*1000|date:'yyyy-MM-dd HH:mm:ss '}}
	</div>
	<div class="col-xs-1" >
		<button
		ng-click="ch({status:$index},{ip:item.ip});item.status=$index"
		ng-class="item.status==$index?'btn-danger':'btn-primary'"
		class="btn btn-sm"
		ng-repeat="status in status_arr"
		>{{status}}</button>
	</div>
	<div class="col-xs-1" >
		<button
		ng-click="del($index);"
		class="btn btn-sm btn-info"
		>刪除</button>
		<button
		ng-click="ch({keep_time_int:-1},{ip:item.ip});item.keep_time_int=-1"
		class="btn btn-sm btn-info"
		>永久</button>
	</div>

</div>