	
<div class="col-xs-12" style="min-height:1000px;" >
	<div 
		class="col-xs-12  bottom_line"
	>	
		<pagnation 
		data="cache.limit" 
		callback="get" 
		></pagnation>
	</div>
	<div 
		class="col-xs-12  bottom_line"
	>	
		系統訊息:{{message}}
	</div>
	
	<div 
		class="col-xs-12  bottom_line"
		style="height:50px;"
	>
		搜尋條件
		
		<button 
		ng-click="cache.where_list.splice($index,1)"
		class="btn btn-primary btn-sm"
		ng-repeat="item in cache.where_list"
		>
		{{field_data[fieldNameR[item.field]].name}}
		{{where_list_type_arr[item.type]}}
		{{field_data[fieldNameR[item.field]].list[item.value] || item.value}}
		</button>
		<button 
		sortable="cache.order_list"
		index="$index"
		draggable="true"
		ng-click="cache.order_list.splice($index,1)"
		class="btn btn-primary btn-sm"
		ng-repeat="item in cache.order_list"
		>
		{{field_data[fieldNameR[item.field]].name}}
		{{order_list_type_arr[item.type]}}
		</button>
		
		
	</div>
	<div 
		class="col-xs-12  bottom_line"
		style="height:50px;"
	>
		<button 
		ng-class="cache.mode==item.id?'btn-danger':'btn-primary'"
		class="btn btn-sm btn-primary"
		ng-click="cache.mode==item.id?cache.mode=undefined:cache.mode=item.id"
		ng-repeat="item in [{id:1,name:'標籤搜尋'},{id:2,name:'無標籤'},{id:3,name:'有標籤'}]"
		>{{item.name}}</button>
		
		<button
		ng-if="cache.mode==1"
		class="btn btn-primary btn-sm"
		ng-click="delSearch($index)"
		ng-repeat="tag_name in cache.tagSearchId"
		>{{tag_name}}</button>
	</div>
	<div 
		class="col-xs-12  bottom_line "
		style="height:50px;"
	>
		<select 
		ng-options="item.enName as item.name for (index,item) in field_data"
		ng-model="cache.where_list_item.field"
		></select>
		<select 
		ng-options="index as item for (index,item) in where_list_type_arr"
		ng-model="cache.where_list_item.type"
		></select>
		<div style="display:inline-block;">
			<div ng-if="field_data[fieldNameR[cache.where_list_item.field]].list">
				<select 
				ng-options="index as item for (index,item) in field_data[fieldNameR[cache.where_list_item.field]].list"
				ng-model="cache.where_list_item.value"
				></select>
			</div>
			<div ng-if="!field_data[fieldNameR[cache.where_list_item.field]].list">
				<input type="text"
				ng-model="cache.where_list_item.value"
				/>
			</div>
		</div>
		<button 
		class="btn btn-sm btn-primary"
		ng-click="add_where_list(cache.where_list_item);cache.where_list_item.value=''"
		>加入搜尋條件</button>
		
		<select 
		ng-options="item as field_data[fieldNameR[item]].name for (index,item) in order_list_field_arr"
		ng-model="cache.order_list_item.field"
		></select>
		<select 
		ng-options="index as item for (index,item) in order_list_type_arr"
		ng-model="cache.order_list_item.type"
		></select>
		<button 
		class="btn btn-sm btn-primary"
		ng-click="add_order_list(cache.order_list_item);cache.where_list_item.value=''"
		>加入排序條件</button>
		
		
	</div>
	<div 
		class="col-xs-12  bottom_line hidden"
		style="height:50px;"
	>
			id<textarea 
			style="width:250px;vertical-align:middle;"
			ng-model="fb_app.id"
			></textarea>
			secret<textarea 
			style="width:250px;vertical-align:middle;"
			ng-model="fb_app.secret" 
			></textarea>
	</div>
	<div ng-include="'app/components/fansList/tableView/head.html?t='+Date.now"></div>
	<div ng-include="'app/components/fansList/tableView/row.html?t='+Date.now"></div>
</div>