<div class="col-xs-12" >
{{message}}
</div>
<div class="col-xs-12">
	<pagnation
	data="$ctrl.cache.limit"
	callback="page_get"
	></pagnation>
</div>

<div class="col-xs-12"  >
	網站篩選角色:<button
	ng-class="$ctrl.cache.select_wid.indexOf(wid)!=-1?'btn-danger':'btn-primary'"
	ng-click="$ctrl.cache.select_wid.indexOf(wid)==-1?$ctrl.cache.select_wid.push(wid):$ctrl.cache.select_wid.splice($ctrl.cache.select_wid.indexOf(wid),1)"
	class="btn btn-sm "
	ng-repeat="(wid,item) in WebList"
	>{{item}}</button>
</div>

<div class="col-xs-12"  >
篩選|
	角色:<button
	ng-class="$ctrl.cache.searchRole.indexOf(0)!=-1?'btn-danger':'btn-primary'"
	ng-click="setSearchRole(0)"
	class="btn btn-sm"
	>最高權限
	</button><div
	style="display:inline-block;"
	ng-repeat="wid in $ctrl.cache.select_wid"
	>
		<button
		ng-class="$ctrl.cache.searchRole.indexOf(rid)!=-1?'btn-danger':'btn-primary'"
		ng-repeat="(rid,rname) in RoleList[wid]"
		ng-click="setSearchRole(rid)"
		class="btn btn-sm "
		>{{WebList[wid]}}.{{rname}}</button>
	</div>
	狀態:<button
	ng-repeat="item in status_list"
	
	ng-class="$ctrl.cache.where_list.status==$index?'btn-danger':'btn-primary'"
	ng-click="$ctrl.cache.where_list.status==$index?$ctrl.cache.where_list.status=undefined:$ctrl.cache.where_list.status=$index"
	class="btn btn-sm"
	>{{item}}</button>
	名稱:<input type="text" ng-model="$ctrl.cache.where_list.name" />
</div>
<div class="col-xs-12 bottom_line"  >
	<input 
	type="text" 
	placeholder="新增帳號"
	ng-init="insert={}"
	ng-model="insert.name" 
	></textarea>	
	<button class="btn btn-sm btn-info"
	ng-click="add(insert)" 
	>新增帳號</button>
</div>
<div 
ng-repeat="item in list" 
style="height:50px;"
class="text-left col-xs-12 row" 
>
	<div class="col-xs-1 " >id:{{item.id}}</div>
	<div class="col-xs-1 " >
		名稱:{{item.name}}
	</div>
	
	<div class="col-xs-2 ">
		{{item.access_token}}
		<button 
		ng-click="resetAccessToken(item);"
		class="btn btn-sm btn-primary"
		>刷新</button>
	</div>
	<div class="col-xs-1 ">
		狀態:<select 
		ng-change="ch({status:item.status},{id:item.id})"
		ng-model="item.status"
		ng-options="index as item for (index,item) in status_list"
		>
		</select>
	</div>
	
	<div class="col-xs-6 ">
		<button
		ng-class="UserRole[item.id] && UserRole[item.id][0]?'btn-danger':'btn-primary'"
		ng-click="swUserRole({uid:item.id,rid:'0'})"
		class="btn btn-sm"
		>最高權限
		</button><div
		style="display:inline-block;"
		ng-repeat="wid in $ctrl.cache.select_wid"
		>
			<button
			ng-class="UserRole[item.id][rid]?'btn-danger':'btn-primary'"
			ng-repeat="(rid,rname) in RoleList[wid]"
			ng-click="swUserRole({uid:item.id,rid:rid})"
			class="btn btn-sm "
			>{{WebList[wid]}}.{{rname}}</button>
		</div>
	</div>
</div>
