<div 
ng-if="list.length"
style="height:100px;"
ng-class="$odd?'odd':'even'"
class="col-xs-12 " 
ng-repeat="item in list"
>
	<div class="col-xs-{{view_width[0].col}}">
		<div>
			<a 
			class="btn btn-primary btn-sm"
			target="_blank" href="http://facebook.com/{{item.fb_id}}">
			{{item.id}}:{{item.name}}:{{item.fan_count||0}}
			</a>
		</div>
		<div>
			<select 
			ng-options="id*1 as name for (id,name) in field_data[fieldNameR['status']].list"
			ng-model="item.status"
			ng-change="ch({status:item.status},{id:item.id})"
			></select>
			<button 
			ng-click="update_online([item.fb_id])"
			class="btn btn-primary" 
			>即時更新</button>
		</div>
		<div>
			last_post:{{item.last_post_time_int*1000| date:'yyyy-MM-dd HH:mm'}}
		</div>
	</div>
	<div class="col-xs-{{view_width[1].col}}" ng-init="fb_type">
		<div ng-if="fb_type">		
			<div 
			class="fb-like-box" 
			data-href="http://www.facebook.com/{{item.fb_id}}" 
			data-width="270"
			data-colorscheme="light" 
			data-show-faces="false" 
			data-header="true" 
			data-stream="false" 
			data-show-border="true"
			data-adapt-container-width="true"
			>
			</div>
		</div>
		<div ng-if="!fb_type">
			<img 
			style="width:100px;height:100px;"
			ng-src="https://graph.facebook.com/{{item.fb_id}}/picture?width=100&height=100&type=large"
			/>
			<div class="fb-like" 
			data-href="http://www.facebook.com/{{item.fb_id}}"
			data-layout="button_count" 
			data-action="like" 
			data-size="large" 
			data-show-faces="false" 
			data-share="false"
			></div>
		</div>
	</div>
	<div class="col-xs-{{view_width[2].col}}">
		<textarea 
		ng-model="item.comment"
		ng-change="text_change(item,'comment')"
		></textarea>
		
	</div>
	<div class="col-xs-{{view_width[3].col}}">
		
		<div ng-if="tagList[item.id]">
			<div 
			style="display:inline-block;"
			ng-repeat="(name,list) in cache.customInsertList"
			>
				<button
				class="btn btn-sm btn-primary"
				ng-click="delCustomInsertList(name)"
				>{{name}}:</button>
				<select 
				ng-options="name as name for name in list"
				ng-model="tag.name"
				ng-change="addTag(item.id,tag);"
				></select>
			</div>
			<div 
			style="display:inline-block;"
			ng-repeat="(name,list) in cache.insert_list"
			>
				{{name}}:
				<select 
				ng-options="name as name for name in list"
				ng-model="tag.name"
				ng-change="addTag(item.id,tag);"
				></select>
			</div>
			
		</div>
		<div ng-if="!tagList[item.id]">
			標籤載入中
		</div>
	</div>
	<div class="col-xs-{{view_width[4].col}}">
		<div ng-if="tagList[item.id]">
			<button
			class="btn btn-sm btn-primary" 
			ng-click="delTag(item.id,$index)"
			ng-repeat="tag_name in tagList[item.id]"
			>{{tag_name}}</button>
		</div>
		<div ng-if="!tagList[item.id]">
			標籤載入中
		</div>
	</div>
	<div class="col-xs-{{view_width[5].col}}">
		
	</div>
</div>
<div class="col-xs-12" ng-if="!list.length">
	沒有資料
</div>