<div >
	<div ng-show="page_arr" style="display:inline-block;">
		<button 
		class="btn btn-info"  
		ng-click="(data.page!=0)  && (data.page=0)"
		>＜＜</button>
		<button 
		class="btn btn-info"  
		ng-click="(data.page>0) && (data.page=data.page-1)"
		>＜</button>
		<button 
		class="btn"  
		ng-class="($parent.data.page==page)?'btn-danger':'btn-primary'" 
		ng-show="!(page_start>page || page_end<page)" 
		ng-repeat="page in page_arr" 
		ng-click="$parent.data.page=page"
		>{{page*1+1}}</button>
		<button 
		class="btn btn-info"  
		ng-click="(data.page<page_count-1) && (data.page=data.page+1)"
		>＞</button>
		<button 
		class="btn btn-info"  
		ng-click="(data.page!=page_count-1) && (data.page=page_count-1)"
		>＞＞</button>
	</div>
	<div style="display:inline-block;">
	目前在第
	<input 
	class="form-control"
	style="display:inline-block;width:50px;"
	type="text" ng-model="data.tmp_page" />
	頁，共{{page_count}}頁
	
	，一頁<input type="text" 
	class="form-control"
	style="display:inline-block;width:50px;"
	ng-model="data.count" />筆，全部資料筆數:{{data.total_count}}
	</div>
</div>